*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

overflow:hidden;

}

#gameArea{
    position:relative;
    width:100vw;
    height:100vh;

    background:url("../road.jpg") no-repeat center center;
    background-size:cover;

    overflow:hidden;
}

#player{
    position:absolute;
    bottom:120px;
    left:40%;
    width:60px;
    height:auto;
    transition:0.15s;
    z-index:10;
}

#score{

position:absolute;

top:20px;

left:20px;

background:white;

padding:10px;

border-radius:12px;

font-size:22px;

font-weight:bold;

z-index:100;

}
